@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: roboto;
    background-color: rgb(31, 31, 31);
}

:root{
    --primary-color: rgb(78, 78, 78);
    --secondary-color:rgb(41, 41, 41) ;
    --card-color: rgb(19, 19, 19);
}

.main-register{
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    margin-bottom: 70px;
    margin-top: 70px;
    padding: 50px 0px 50px 0px;
}

.input-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.parte-boton{
    display: flex;
    justify-content: space-around;
}

.user-label{
    color: rgb(117, 117, 117);
    padding-left: 4px;
    padding-bottom: 4px;
}

.user-input{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    padding-left: 8px;
    font-size: 0.9rem;
    outline: none;
    border: none;
    font-family: roboto;
}

#location{
    height: 40px;
    border-radius: 8px;
    padding-left: 5px;
    outline: none;
}

#boton-registro{
    height: 30px;
    width: 130px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 6px;
    transition: transform 0.1s;
    border: none;
    cursor: pointer;
    margin-right: 135px;
}

#image-input{
    cursor: pointer;
    background-color: #ffffff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    max-width: 400px;
    border: none;
    color: black;
}

#boton-registro:hover{
    transform: translateY(1px);
}

.parte-login{
    text-decoration: none;
    color: white;
    padding-top: 6px;
}

.parte-login:hover{
    color: rgb(70, 70, 70);
}

@media screen and (width < 768px){
    
    .input-group{
        width: 100%;
    }

    .boton-registro{
        margin-right: 10px;
    }
}