.cart-wrapper{
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &.active {
        padding: 70px 30px;
        width: 300px;
        transition: width .25s ease;
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            padding: 10px;
            border-bottom: 1px solid black;
        }
    }
}

.order-item{
    display: flex;
    justify-content: space-between;
}

.order-image{
    height: 40px;
    width: 40px;
    border-radius: 180px;
    border: black 1px solid;
    margin-right: 10px;
}

.product-name{
    margin-left: -40px;
    padding-top: 10px;
}

.order-quantity{    
    display: flex;
    padding-top: 10px;
}

.order-delete-item{
    padding-left: 15px;
    cursor: pointer;
}

.ml-auto{
    margin-left: auto;
}

.total-count{
    padding-bottom: 10px;
}

.clear-cart-div{
    cursor: pointer;
}

.clear-cart{
    padding-left: 10px;
}

.order-purchase{
    display: flex;
    padding-top: 30px;
    margin-bottom: -20px;
    justify-content: space-between;
}

.btn-buy{
    padding: 5px;
    margin-top: -3px;
    cursor: pointer;
    border: black 1px solid;
    border-radius: 4px;
    font-size: 15px;
}